<style>
 tr {
 	background: #FFFFBB;
 }
</style>

<div class="container">
	<div class="row" style="width: 100%; margin: 50px auto;">
		<h4 style="margin-bottom: 20px; border-left: 2px solid #FF4F02; padding: 10px;">マッチング中</h4>
	</div>
</div>
<div class="show-container" style="width:40%; margin: 20px auto;">
	<% @matchUserList.each do |user| %>
<table class="table">
	<thead>
		<tr>
			<th><%= attachment_image_tag user, :profile_image, :fill, 90, 90, fallback: "no_image.jpg" %></th>
		</tr>
	</thead>
			<tbody>
				<tr>
					<td><strong><%= link_to user.name, user_path(user) %></strong></td>
				</tr>
				<tr>
					<td><%= user.profile %></td>
				</tr>
	</tbody>
</table>
<% end %>
</div>