/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 .toppage-mainvisual-title {
  width: 100%;
  height: 300px;
  background-image: url(ster.jpg);
  background-size: cover;
  font-family:  'arial black',serif;
  background-position: center;
  text-align: center;
  padding-top: 105px;
}

.toppage-mainvisual-subtitle {
  width: 100%;
  height: 150px;
  background-image: url(peple.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-bottom: 90px;
}

.toppage-intro {
	text-align: center;
}

.toppage-subintro {
	text-align: center;
}

.toppage-item {
	width: 1000px;
    padding: 30px 0 90px 0;
    margin: 0 auto;
}

.item {
	float: left;
    width: 300px;
    margin-right: 10px;
    text-align: center;
    margin-left: 10px;
}

.item-title {
	margin-bottom: 20px;
}

.item-intro {
	margin-top: 20px;
}

.item-title::after {
	content: "";
    display: block;
    width: 120px;
    height: 3px;
    margin: 8px auto 0 auto;
    background-color: #EC715F;
}

.toppage-login {
	text-align: center;
}
